# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Logs
*.log
*.csv
*.json
cache/
*.pyc

# Virtual environment
venv/
.env

# OS files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration file
config.py
